# config.yaml，文件格式必须严格遵循 yaml配置文件格式
db:

    cypher_key: your_cypher_key

sys:
    #  系统名称(title) 配置
    name: 文档生成
    #  是否启用认证， true， 登录后才能使用系统;false 无需登录
    auth: true
    #  自定义数据库配置时的权限认证 token
    cfg_tkn: foobar
    # 配置可访问的域， 防止跨域攻击
    allowed_origin: http://192,168.1.122
    # 对配置信息进行加密的密钥，长度必须为16/32
    cypher_key: abaababa
    # 在 debug 模式下定时任务将关闭，在生产环境下， debug_mode 必须设置为 false
    debug_mode: true
api:
    # 大语言模型 API 基地址
    llm_api_uri: https://api.deepseek.com/v1
    #  大语言模型 API key
    llm_api_key: 45678
    #  大语言模型 模型名称
    llm_model_name: deepseek-chat


    # 是否为远程模式，true 表示使用远程模式，false 表示使用本地模式 ollama 接口
    is_remote: true

