.idea/
**/.DS_Store
**/.cproject
**/.project
**/.settings
**/target
**/*.out
**/*.jar
**/cpp/lib/*
log/*
**/*.iml
**/_*
native-image/*
**/*.log
**/*.log.*
**/*.o
faiss_index/*
faiss_oa_vector/*
**/*.txt
**/*.pdf
!requirements.txt
**/*.csv
sqlite_vss
**/*.zip
**/*.rar
**/*.tar.gz
**/*.config
**/*.cfg
#**/*.db
**/*.json
**/*.lock
**/*.yml
**/*.yaml
**/*.wav
config.yml
cert/*
**/*.cer
**/*.faiss
**/*.doc
**/*.docx
llm_py_env/*
llm_py_env_whl.Python.3.12.3/*
__pycache__