.idea/
**/.DS_Store
**/.cproject
**/.project
**/.settings
**/target
**/*.out
**/*.jar
**/cpp/lib/*
log/*
**/*.iml
**/_*
native-image/*
**/*.log
**/*.o
faiss_index/*
**/*.txt
**/*.pdf
!requirements.txt
**/*.png
**/*.csv
sqlite_vss
**/*.zip
**/*.rar
**/*.tar.gz
**/*.config
**/*.cfg
#**/*.db
**/*.json
**/*.lock