gunicorn
flask
langchain_openai
langchain_community
langchain
langchain_text_splitters
langchain_unstructured
unstructured
langchain_core
pydantic
python-docx
python-pptx
pillow
concurrent_log_handler
pydub
pycryptodome
wheel
tabulate
chromadb
lxml
websockets
markdown
pypandoc
pandas
openpyxl
beautifulsoup4
sounddevice
concurrent-log-handler
openai
pymysql
oracledb
dmPython
sympy
fastapi
uvicorn
sentence_transformers
transformers
torch
bitsandbytes
accelerate
uv
mcp
mcp[cli]
pyyaml