# config.yaml，文件格式必须严格遵循 yaml配置文件格式
db:

    cypher_key: your_cypher_key

sys:
    #  系统名称(title) 配置
    name: 文档生成
    #  是否启用认证， true， 登录后才能使用系统;false 无需登录
    auth: true
    #  自定义数据库配置时的权限认证 token
    cfg_tkn: foobar
    # 配置可访问的域， 防止跨域攻击
    allowed_origin: http://192,168.1.122
    # 对配置信息进行加密的密钥，长度必须为16/32
    cypher_key: abaababa
    # 在 debug 模式下定时任务将关闭，在生产环境下， debug_mode 必须设置为 false
    debug_mode: true
api:
    # 大语言模型 API 基地址
    llm_api_uri: https://api.deepseek.com/v1
    #  大语言模型 API key
    llm_api_key: 45678
    #  大语言模型 模型名称
    llm_model_name: deepseek-chat

    # embedding API 基地址
    embedding_api_uri: https://api.your_audio_service_provider.com/v1/
    # embedding API Key
    embedding_api_key: sk-xxxx
    # embedding model name
    embedding_model_name: bce-base

    # 是否为远程模式，true 表示使用远程模式，false 表示使用本地模式 ollama 接口
    is_remote: true

    # mermaid script render server addr
    mermaid_api_uri: http://127.0.0.1:8000

#  与大模型相关的提示词配置
prompts:

    # 基于知识库进行问答
    vdb_chat_msg: |
        你是一个专业的xxxx助手，请根据以下上下文信息回答问题：
        {context}

        问题：{question}

    # 文档目录自动生成
    gen_docx_outline_msg: |
        我正在写一个文档，当前的任务是生成文档的三级目录，已知
        文档的内容类型：{doc_type}
        文档的标题：{doc_title}
        请输出以下格式的文档目录
        (1) 若无其他要求则默认为三级目录，数据格式举例如下：
        # 1.一级标题
        ## 1.1 二级标题
        ### 1.1.1 三级标题
        ### 1.1.2 三级标题

        (2) 其他的要求如下：
        {keywords}

        (3) 输出纯文本格式

    # 文本生成
    gen_txt_msg: |
        我正在编写技术文档，需要生成某个章节下的具体内容。
        
        文档背景：{write_context}
        文档目录：{catalogue}
        当前章节：{current_sub_title}
        段落要求：{paragraph_prompt}
        用户批注：{user_comment}
        参考资料：{references}
        
        请按以下要求生成内容：
        (1) 直接返回纯文本，不要额外说明，不要Markdown格式；
        (2) 格式适合Word文档，段落清晰；
        (3) 无明确字数要求时，控制在300字以内；
        (4) 参考但不复制参考资料；
        (5) 禁止空行，不包含分析过程；
        (6) 需要配图时提供规范的mermaid脚本，用<mermaid>包裹；
        (7) 不包含目录标题；
        (8) 文本与图表自然衔接，技术概念解释清晰；
        (9) 确保内容准确且符合技术文档标准。

    gen_png_msg: |
        生成一个base64编码格式的 800*600 的PNG图片二进制流， 图片背景颜色为白色，图片线条为黑色
        图片内容如下：
        {img_content_desc}