flask
gunicorn
python-docx
langchain
langchain_openai
langchain_community
langchain_core
pandas
numpy
pymysql
oracledb
dmPython
concurrent-log-handler
pycryptodome
markdown
pillow
requests
pydub
sounddevice
sympy
openai
tabulate
lxml