sys:
    #  系统名称(title) 配置
    name: 巴拉巴拉小魔仙
    #  是否启用认证， true， 登录后才能使用系统;false 无需登录
    auth: true
    #  自定义数据库配置时的权限认证 token
    cfg_tkn: foobar
    # 配置可访问的域， 防止跨域攻击
    allowed_origin: http://192,168.1.122
    # 对配置信息进行加密的密钥，长度必须为16/32
    cypher_key: abaababa
api:

    # embedding API 基地址
    embedding_api_uri: https://api.your_embedding_provider.com/v1/
    # embedding API Key
    embedding_api_key: sk-xxxx
    # embedding model name， 假定当前工程的目录为 llm_agent ,与 llm_agent 目录并列的模型目录为 bce-base
    # 则此处配置 bce-base
    embedding_model_name: bce-base

