<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta id="csm_index.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/purify.min.js"></script>
    <script src="/static/marked.min.js"></script>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">-->
    <link rel="stylesheet" href="/static/csm.css">
    <title>
        {% if role == 1 %}
            人工客服座席[编号{{uid}}]
        {% else %}
            AI客服助手
        {% endif %}
    </title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <div class="icon">
                    <i class="fas fa-headset"></i>
                </div>
                <div>
                    {% if role == 1 %}
                        人工客服座席[编号{{uid}}]
                    {% else %}
                        AI客服助手
                    {% endif %}
                </div>
            </div>
            <p class="subtitle">随时为您提供专业的燃气服务咨询</p>
        </div>

        <div class="chat-container" id="chat-container">
            <!-- 聊天内容将在这里动态生成 -->
        </div>

        <form id="query-form">
            <div class="input-container">
                <div class="input-icon">
                    <i class="fas fa-comment-alt"></i>
                </div>
                <input type="text" class="input-field" id="query-input" name="msg" placeholder="输入您的问题，为您深度解答" required>
                <button type="submit" class="send-button">
                    <i class="fas fa-paper-plane"></i> 发送
                </button>
            </div>
            <input type="hidden" id ="uid" name="uid" value="{{uid}}">
            <input type="hidden" id ="t" name="t" value="{{t}}">
        </form>
    </div>
    <script>
        let my_greeting ='';
        {% if role == 1 %}
            my_greeting = `您好，我是客服助手！有新服务请求时我会立即通知您，请保持关注～`;
        {% else %}
            my_greeting = `您好，我是AI客服助手！随时为您解答燃气使用中的问题～`;
        {% endif %}
        // 将Jinja2变量转为JS全局变量
        window.initialGreeting = my_greeting;
    </script>
    <script src="/static/csm.js"></script>
</body>
</html>