<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/purify.min.js"></script>
    <script src="/static/marked.min.js"></script>
    <link rel="stylesheet" href="/static/my.rag.css?t=224">
<!--    <title>{{sys_name}}</title>-->
    <title>
        {% if role == 1 %}
            人工客服座席
        {% else %}
            智能客服
        {% endif %}
    </title>
</head>
<body>
    <div class="container">
        <div class="header">
            {% if role == 1 %}
                <h1>人工客服座席[编号{{uid}}]</h1>
            {% else %}
                <h1>智能客服</h1>
            {% endif %}
<!--                <h1>{{ sys_name }}</h1>-->
        </div>
        
        <div class="chat-container" id="chat-container">
            <!-- 聊天内容将在这里动态生成 -->
        </div>
        
        <form id="query-form">
            <div class="input-container">
                <input type="text" class="input-field" id="query-input" name="msg" placeholder="输入你的问题，帮你深度解答" required>
                <button type="submit" class="send-button">发送</button>
            </div>
            <input type="hidden" id ="uid" name="uid" value="{{uid}}">
            <input type="hidden" id ="t" name="t" value="{{t}}">
        </form>
    </div>

    <script>
        let fetchInterval = null;
        // 设置markdown的渲染风格， 启用GitHub风格Markdown
        marked.setOptions({
          breaks: true,
          gfm: true
        });
        // 聊天容器
        const chatContainer = document.getElementById('chat-container');
        const queryForm = document.getElementById('query-form');
        const queryInput = document.getElementById('query-input');
        const dbUriInput = document.getElementById('db-uri-input');
        window.onload = function() {
            let greeting =''
             {% if role == 1 %}
                greeting = `Hi，我是客服小助手, 若有人工服务请求，我将发送给您消息，请您持续关注～～`;
            {% else %}
                greeting = `Hi，我是客服小助手～ 很高兴遇见你！你可以随时问我关于燃气使用过程中遇到的问题，我来帮你看看`;
            {% endif %}

            addMessage(greeting, 'bot');
            startMsgPolling();
        };
        // 表单提交
        queryForm.addEventListener('submit', function(e) {
            e.preventDefault();
            
            const query = queryInput.value.trim();
            
            if (!query) {
                addMessage("请填写问题", 'bot');
                return;
            }
            
            // 添加用户消息到聊天
            addMessage(query, 'user');
            
            // 清空输入框
            queryInput.value = '';            
            // 发送API请求
            sendMsg(query)
                .then(({data, contentType})  => {
                    // 添加机器人消息到聊天
                    addMessage(data, 'bot', contentType);
                })
                .catch(error => {
                    addMessage(`查询失败：${error.message}`, 'bot');
                });
        });
        
        // send msg to server
        async function sendMsg(query) {
            const sendButton = document.querySelector('.send-button');
            let loadingMsg = null;
            try {
                sendButton.disabled = true;
                loadingMsg = addMessage('<div class="loading-dots">处理中</div>', 'bot');
                const controller = new AbortController();
                setTimeout(() => controller.abort(), 300000);
                const response = await fetch('/usr/ask', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    body: `msg=${encodeURIComponent(query)}&uid=${encodeURIComponent(document.getElementById('uid').value)}`,
                    signal: controller.signal
                });

                loadingMsg && chatContainer.contains(loadingMsg) && chatContainer.removeChild(loadingMsg);
                sendButton.disabled = false;
                const contentType = response.headers.get('Content-Type');
                const data = await response.text();
                if (!response.ok)
                    throw new Error('网络响应失败');
                return {data, contentType}
            } catch (error) {
                loadingMsg && chatContainer.contains(loadingMsg) && chatContainer.removeChild(loadingMsg);
                sendButton.disabled = false;
                throw error;
            } finally {
                console.log("start_msg_polling_after_snd_msg_to_server")
                startMsgPolling();
            }
        }
        
        // 添加消息到聊天
        function addMessage(text, type, contentType) {
            if (!text || text.trim() === '') return null;
            const messageContainer = document.createElement('div');
            messageContainer.classList.add('message-container');
            // 安全处理并解析markdown/html
            console.log('sanitizedContent_contentType', contentType)
            console.log('sanitizedContent_text', text)
            const sanitizedContent = DOMPurify.sanitize(
                contentType?.includes('markdown') ? marked.parse(text) : text,
                {
                    ALLOWED_TAGS: ['div','h1','form','label','select','option','input','textarea','button','p','br','span','a','strong','em','img', 'meta', 'style', 'svg','path','circle','rect','line','table','thead','tbody','tr','th','td'],
                    ALLOWED_ATTR: ['id','class','for','name','required','type','value','target', 'href','placeholder','src','method', 'action', 'style','charset', 'colspan', 'rowspan', 'viewBox','d','cx','cy','r','x','y','stroke','fill',]
                }
            );
            if (type === 'user') {
                messageContainer.classList.add('user-message-container');
                messageContainer.innerHTML = `
                    <div class="message-bubble user-message-bubble">${sanitizedContent}</div>
                `;
            } else {
                messageContainer.classList.add('bot-message-container');
                messageContainer.innerHTML = `
                <div style="display: flex; align-items: center; gap: 10px;">
                    <img width="24" height="24" src="/static/bot.png">
                    <div class="message-bubble bot-message-bubble">${sanitizedContent}</div>
                </div>
                `;
            }
            
            chatContainer.appendChild(messageContainer);
            chatContainer.scrollTop = chatContainer.scrollHeight;
            return messageContainer;
        }

        // for door to door service
        document.getElementById('chat-container').addEventListener('submit', async function(e) {
            if (e.target.id === 'doorSrvReqForm') {
                e.preventDefault();
                const form = e.target;
                const sendButton = form.querySelector('button[type="submit"]');

                try {
                    sendButton.disabled = true;
                    const response = await fetch(form.action, {
                        method: form.method,
                        body: new URLSearchParams(new FormData(form))
                    });

                    if (response.ok) {
                        sendButton.disabled = true;
                        const html = await response.text();
                        addMessage(html, 'bot', 'text/html'); // 添加服务端返回的HTML作为新消息
                    } else {
                        sendButton.disabled = false;
                    }

                } finally {
<!--                    do nothing here-->
                }
            }
        });

        // for get message from message box, a fake instant message,
        // if msg pulled, then stop work until user give a answer to the msg
        function startMsgPolling() {
<!--            clearInterval(fetchInterval);-->
            fetchInterval = setInterval(async () => {
                try {
                    const uid = document.getElementById('uid').value;
                    const response = await fetch(`/msg/box/${encodeURIComponent(uid)}`);
                    if (response.ok) {
                        const msg = (await response.text()).trim();
                        if (msg) {
                            addMessage(msg, 'bot', 'text/markdown');
<!--                            clearInterval(fetchInterval);   // 收到消息后停止轮询-->
                        }
                    }
                } catch(e) {
                    console.error("msg_polling_err:", e)
                }
            }, 2000);
        }
    </script>
</body>
</html>