# config.yaml，文件格式必须严格遵循 yaml配置文件格式
sys:
    #  系统名称(title) 配置
    name: AI 应用入口
    #  是否启用认证， true， 登录后才能使用系统;false 无需登录
    # your host
    app_base_uri: http://127.0.0.1
    #  是否启用认证， true， 登录后才能使用系统;false 无需登录
    auth: true
    cypher_key: abaababaabaababa

    # 用于开启claw的 remote access后进行鉴权的可访问的URL，带token认证
    claw_url: http://123.456.789:23456/chat?token=7ad0419365d5&session=main

api:
    # 认证服务 API
    auth_api: http://127.0.0.1:19011
    # 数据统计服务 API
    stats_api: http://127.0.0.1:19012









