# config.yaml，文件格式必须严格遵循 yaml配置文件格式
sys:
    #  系统名称(title) 配置
    name: 大模型应用
    #  是否启用认证， true， 登录后才能使用系统;false 无需登录
    # your host
    app_base_uri: http://127.0.0.1
    #  是否启用认证， true， 登录后才能使用系统;false 无需登录
    auth: true
    cypher_key: abaababaabaababa

api:
    # 认证服务 API
    auth_api: http://127.0.0.1:19011
    # 数据统计服务 API
    stats_api: http://127.0.0.1:19012









