<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>提示词配置</title>
    <meta charset="utf-8">
    <meta id="hack_info_index.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/prompt.css">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <div class="title">
                <div class="icon">
                    <i class="fas fa-cog"></i>
                </div>
                <div>提示词配置</div>
            </div>
            <p class="subtitle">用户可以自定义提示词，也可以使用系统默认的提示词</p>
        </div>
        <form action="/user/prompt" method="post">
            <div class="form-group">
                <label for="refine_q_msg">问题优化提示词:</label>
                <div class="input-icon">
                    <i class="fas fa-server"></i>
                </div>
                <textarea id="refine_q_msg" name="refine_q_msg" rows="10" cols="80" placeholder="对提问的问题进行优化，方便转换成 SQL语句">{{refine_q_msg}}</textarea>
                <div class="description">用于优化用户提问，使其更清晰明确，便于后续SQL转换，内容必须包含以下变量:<br>(1) {data_source_info}<br>(2) {user_short_q_desc}</div>
            </div>
            <div class="form-group">
                <label for="sql_gen_msg">SQL生成提示词:</label>
                <div class="input-icon">
                    <i class="fas fa-server"></i>
                </div>
                <textarea id="sql_gen_msg" name="sql_gen_msg" rows="10" cols="80" placeholder="将问题转换为数据库 SQL 语句">{{sql_gen_msg}}</textarea>
                <div class="description">用于将优化后的问题转换为对应的SQL查询语句，内容必须包含以下变量:<br>(1) {sql_dialect}<br>(2) {schema}<br>(3) {chat_history}<br>(4) {max_record_per_page}</div>
            </div>

            <div class="input-container">
                <button type="submit" class="send-button" id="save_button">
                    <i class="fas fa-save"></i> 保&nbsp;&nbsp;&nbsp;&nbsp;存
                </button>
                <button type="submit" class="send-button" id="reset_button">
                    <i class="fas fa-save"></i> 重&nbsp;&nbsp;&nbsp;&nbsp;置
                </button>
            </div>
            <input type="hidden" id="uid" name="uid" value="{{uid}}">
            <div class="warning-message" id="warning_info">{{warning_info}}</div>
        </form>

        <footer>
            <p>© 2025 数据查询平台 | KLSZ</p>
            <p class="subtitle" style="margin-top: 10px; font-size: 0.85rem;">
                配置修改将实时生效，请谨慎操作
            </p>
        </footer>
    </div>
    <script src="/static/prompt.js"></script>
</body>
</html>