# config.yaml，文件格式必须严格遵循 yaml配置文件格式
db:
#    type: dm
#    name: SYSDBA
#    host: 127.0.0.1
#    port: 5236
#    user: SYSDBA
#    password: SYSDBA001
    #  数据库类型, mysql sqlite oracle, dm，最好使用MySQL
    type: mysql
    #  数据库（实例）名称，如果是sqlite，直接写文件名称，本地需存在相应的文件名
    name: your_db_name
    #  数据库连接的IP地址或者域名
    host: your_db_host_IP_or_domain
    #  数据库连接的端口
    port: your_db_instance_port
    #  连接数据库的用户名
    user: your_db_user_name
    #  读取数据库的用户密码
    password: 12345

    # 限制使用的表的数量，最佳实践是1表， 随着表的数量的增加，大模型输出的SQL质量会有一定程度的下降
    restrict_table_number: 1
    strict_search: false
    # 用于数据库部分内容的加解密
    cypher_key: your_cypher_key

sys:
    #  系统名称(title) 配置
    name: 巴拉巴拉小魔仙
    #  是否启用认证， true， 登录后才能使用系统;false 无需登录
    auth: true
    #  自定义数据库配置时的权限认证 token
    cfg_tkn: foobar
    # 配置可访问的域， 防止跨域攻击
    allowed_origin: http://192,168.1.122
    # 对配置信息进行加密的密钥，长度必须为16/32
    cypher_key: abaababa
api:
    # 大语言模型 API 基地址
    llm_api_uri: https://api.deepseek.com/v1
    #  大语言模型 API key
    llm_api_key: 45678
    #  大语言模型 模型名称
    llm_model_name: deepseek-chat

    # 语音识别 API 基地址，需要部署为兼容 OpenAI-API-Compatible
    asr_api_uri: https://api.your_audio_service_provider.com/v1/
    # 语音识别 API key
    asr_api_key: sk-xxxx
    # 语音识别 API 模型名称
    asr_model_name: asr



    # 是否为远程模式，true 表示使用远程模式，false 表示使用本地模式 ollama 接口
    is_remote: true


#  chart js 绘图配置
chart_js:
    #   是否需要在读取数据库数据的基础上，添加 chart js 绘图数据，true 需要; false，不需要，直接输出数据
    add_chart_to_dt: false

#  与大模型相关的提示词配置
prompts:

    # 文本分类
    txt_cls_msg: |
        对以下文本进行分类:
        {txt}

        分类标签清单为：
        {classify_label}

        分类结果输出为单一分类标签文本，不要输出任何额外信息

    # 补充字典信息
    pad_dict_info_msg: |
        基于已知的个人信息:
        {context}
        以及新提供的个人信息:
        {append_info}
        输出更新后个人信息
        (1) 如果同类信息有冲突，以新提供的信息为准
        (2) 直接返回填写好的纯文本内容，不要有任何其他额外内容，不要输出Markdown格式


    # 生成订单关键信息
    get_order_info_msg: |
        基于以下文本：
        {context}
        请输出涉及到液化气、液化天然气(简称LPG)订单信息的文本，订单信息包含液化气的重量、气瓶数量
        (1)直接返回填写好的纯文本内容，不要有任何其他额外内容，不要输出Markdown格式
        (2)若没有液化气，则输出空字符串

    # 总结聊天记录
    get_chat_abs_msg: |
        基于用户和机器人客服的对话文本:
        {context}
        抽取重要内容，以便于提供给人工客服进行后续的客户服务

